<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OrderItem</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/orderItems.min.css}">
</head>
<body>

<h1>Order Item</h1>

<br><br>

<form th:object="${orderItem}" th:action="@{/orderItems}" th:method="post">
    <input type="text" id="id" name="id" th:field="*{id}" placeholder="Id" hidden="hidden">
    <input type="text" id="quantity" name="quantity" th:field="*{quantity}" placeholder="Quantity" required>
    <input type="submit" value="Submit">
</form>

<!--<button onclick="editProduct()" value="Update">Update</button>-->


<script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/fontawesome.js}"></script>
<script th:src="@{/assets/js/orderItems.js}"></script>

</body>
</html>