<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/assets/css/reset.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/products.css}">
</head>
<body>

<div class="container-fluid">

    <div id="title">
        <h1>Products</h1>
    </div>
    <div id="product-form">
        <form th:action="@{/products}" th:method="post" th:object="${product}">
            <label for="name">Name</label><input type="text" id="name" name="name" th:field="*{name}" placeholder="Name" required>
            <label  for="price">Price </label><input type="text" id="price" name="price" th:field="*{price}" placeholder="Price" required>
            <label for="brand">Brand </label><input type="text" id="brand" name="brand" th:field="*{brand}" placeholder="Brand" required>
            <label for="serialNumber">SerialNumber </label><input type="text" id="serialNumber" name="serialNumber" th:field="*{serialNumber}" placeholder="SerialNumber" required>


            <br>
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>


    <div id="product-table">
        <h2 th:if="${products.isEmpty()}">No Content</h2>
        <table class="table table-hover table-primary" th:unless="${products.isEmpty()}">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Brand</th>
                <th>SerialNumber</th>
                <th>Operation</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.brand}"></td>
                <td th:text="${product.serialNumber}"></td>

                <td>
                    <button class="btn btn-warning" th:onclick="showEditPage([[${product.id}]])">Edit <i
                            class="fa fa-edit"></i></button>
                    <button class="btn btn-danger" th:onclick="deleteProduct([[${product.id}]])">Delete <i
                            class="fa fa-remove"></i></button>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script th:src="@{/assets/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/fontawesome.js}"></script>
<script th:src="@{/assets/js/products.js}"></script>

</body>
</html>